html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 1em;

  width: 78%;
  margin: 0 auto;
  background-color: antiquewhite;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
}

h1 {
  font-size: 3rem;
  align-self: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-content: center;
}

.gallery div {
  justify-content: center;
}

.gallery img {
  max-height: 200px;
  max-width: 200px;
}

.calendar {
  display: grid;
  gap: 1rem;
}

/* .calendar:nth-child(2) { */
/*   background-color: green; */
/* } */

.calendar .event {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  gap: 1rem;
  padding: 0.2rem;
  border: 1px solid burlywood;
  border-radius: 5px;
}

.calendar .event .date {
  font-weight: bolder;
}

.long_input {
  width: 60%;
}

button {
  align-self: center;
}

@media screen and (orientation: portrait) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .calendar > .event {
    grid-template-columns: 1fr;
  }
}
